<div class="confirm-dialog">
  <div class="dialog-icon-container" [ngClass]="data.type">
    @if (data.type === 'success') {
      <lucide-icon [img]="CheckCircle"></lucide-icon>
    }
    @if (data.type === 'warning') {
      <lucide-icon [img]="AlertTriangle"></lucide-icon>
    }
    @if (data.type === 'error') {
      <lucide-icon [img]="XCircle"></lucide-icon>
    }
    @if (data.type === 'info') {
      <lucide-icon [img]="Info"></lucide-icon>
    }
  </div>

  <h2 class="dialog-title" mat-dialog-title>{{ data.title }}</h2>

  <div class="dialog-message" mat-dialog-content>
    {{ data.message }}
  </div>

  <div class="dialog-actions" mat-dialog-actions>
    @if (!data.hideCancel) {
      <button class="action-btn cancel-btn" mat-button (click)="cancel()">
        {{ data.cancelText }}
      </button>
    }
    <button
      class="action-btn confirm-btn"
      [ngClass]="data.type"
      mat-flat-button
      (click)="confirm()"
    >
      {{ data.confirmText }}
    </button>
  </div>
</div>
