<div class="custom-snackbar-wrapper" [ngClass]="data.type">
  <div class="snackbar-icon-container">
    @if (data.type === 'success') {
      <lucide-icon [img]="CheckCircle"></lucide-icon>
    }
    @if (data.type === 'error') {
      <lucide-icon [img]="AlertCircle"></lucide-icon>
    }
  </div>
  <div class="snackbar-content">
    <span class="snackbar-title">{{ data.title }}</span>
    <span class="snackbar-message">{{ data.message }}</span>
  </div>
  <button class="snackbar-close" (click)="snackBarRef.dismiss()">
    <lucide-icon [img]="X"></lucide-icon>
  </button>
</div>
