<mat-list class="summary-container dense-list">
  <mat-list-item class="summary-row">
    <div class="row-content">
      <span class="label">Sub Total :</span>
      <span class="value">₹ 245.00</span>
    </div>
  </mat-list-item>
  <mat-list-item class="summary-row">
    <div class="row-content">
      <span class="label">Discount :</span>
      <span class="value text-danger">- ₹ 0.00</span>
    </div>
  </mat-list-item>
  <mat-list-item class="summary-row">
    <div class="row-content">
      <span class="label">Amount :</span>
      <span class="value">₹ 245.00</span>
    </div>
  </mat-list-item>
  <mat-list-item class="summary-row">
    <div class="row-content">
      <span class="label">SGST :</span>
      <span class="value">₹ 0.00</span>
    </div>
  </mat-list-item>
  <mat-list-item class="summary-row">
    <div class="row-content">
      <span class="label">CGST :</span>
      <span class="value">₹ 0.00</span>
    </div>
  </mat-list-item>
  <mat-list-item class="summary-row">
    <div class="row-content">
      <span class="label">Bill Amount:</span>
      <span class="value">₹ 245.00</span>
    </div>
  </mat-list-item>
  <mat-list-item class="summary-row">
    <div class="row-content">
      <span class="label">Round Off :</span>
      <span class="value">₹ 0.00</span>
    </div>
  </mat-list-item>
  
  <mat-list-item class="total-payable-row">
    <div class="row-content">
      <span class="label">Total Payable :</span>
      <span class="value total-amount">₹ 245.00</span>
    </div>
  </mat-list-item>
</mat-list>
