<div class="custom-bill-summary">

  <div class="summary-details">
    <div class="summary-row">
      <span class="label">Taxable Value :</span>
      <span class="value">₹ {{ subTotal() | number:'1.2-2' }}</span>
    </div>

    <div class="summary-row">
      <span class="label">Discount :</span>
      <span class="value text-danger">- ₹ {{ totalDiscount() | number:'1.2-2' }}</span>
    </div>

    <div class="summary-row">
      <span class="label">Net Amount :</span>
      <span class="value">₹ {{ taxableAmount() | number:'1.2-2' }}</span>
    </div>

    <div class="summary-row">
      <span class="label">SGST :</span>
      <span class="value">₹ {{ (totalGst() / 2) | number:'1.2-2' }}</span>
    </div>

    <div class="summary-row">
      <span class="label">CGST :</span>
      <span class="value">₹ {{ (totalGst() / 2) | number:'1.2-2' }}</span>
    </div>
    <div class="summary-row">
      <span class="label">IGST :</span>
      <span class="value">₹ 0</span>
    </div>

    <div class="summary-row fw-bold" style="border-top: 1px dashed #E5E7EB; padding-top: 8px; margin-top: 4px;">
      <span class="label" style="font-weight: 600; color: #111827;">Bill Amount :</span>
      <span class="value" style="font-weight: 600; color: #111827;">₹ {{ billAmount() | number:'1.2-2' }}</span>
    </div>

    <div class="summary-row">
      <span class="label">Round Off :</span>
      <span class="value text-success">₹ {{ roundOff() | number:'1.2-2' }}</span>
    </div>
  </div>

  <div class="total-payable-row">
    <span class="tp-label">Total Payable</span>
    <span class="tp-value">₹ {{ totalPayable() | number:'1.2-2' }}</span>
  </div>

</div>