<div class="product-list-container">
  
  <div class="pl-top-tabs">
    <div class="bill-tab">Bill 1 <button mat-icon-button class="small-icon-btn"><mat-icon>close</mat-icon></button></div>
    <button mat-mini-fab color="primary" class="add-bill-btn"><mat-icon>add</mat-icon></button>
  </div>

  <div class="pl-header">
    <mat-form-field appearance="outline" class="search-bar dense-form-field">
      <input matInput placeholder="Search by Product Name / Product Code">
    </mat-form-field>
  </div>

  <div class="categories-scroll">
    <mat-chip-listbox aria-label="Category selection">
      <mat-chip-option selected>All</mat-chip-option>
      <mat-chip-option>गाय दूध</mat-chip-option>
      <mat-chip-option>कोवळे दूध</mat-chip-option>
      <mat-chip-option>म्हैस दूध</mat-chip-option>
      <mat-chip-option>खरवस गाय</mat-chip-option>
      <mat-chip-option>खरवस म्हैस</mat-chip-option>
      <mat-chip-option>क्रीम गाय</mat-chip-option>
      <mat-chip-option>क्रीम म्हैस</mat-chip-option>
      <mat-chip-option>लोणी गाय</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="product-grid">
    <mat-card class="product-card" matRipple *ngFor="let prod of ['गाय दूध', 'गाय दूध 1 ltr पॅकिंग', 'गाय दूध 500ml पॅकिंग', 'कोवळे दूध', 'म्हैस दूध', 'म्हैस दूध 1 ltr पॅकिंग', 'म्हैस दूध 500ml पॅकिंग', 'बासुंदी लूज', 'खवा 125 gm', 'खवा 250 gm', 'खवा 500 gm', 'खवा लूज']">
      <div class="red-tag"></div>
      <mat-card-content class="pc-details">
        <h4>{{prod}}</h4>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="pl-footer">
    <div class="pagination">
      <span>«</span>
      <span class="active">1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>6</span>
      <span>7</span>
      <span>8</span>
      <span>»</span>
    </div>
    <div class="pl-summary">
      <div class="badge">Bills : <span class="val">0</span></div>
      <div class="badge green">Amount : <span class="val">₹ 0</span></div>
    </div>
  </div>

</div>
