.badge-cash {
  background-color: #e8f7f0 !important;
  color: #0d945b !important;
  border: 1px solid #0d945b40;
}

.badge-online {
  background-color: #f4f0ff !important;
  color: #7928ca !important;
  border: 1px solid #7928ca40;
}

.badge-credit {
  background-color: #f8f9fa !important;
  color: #6c757d !important;
  border: 1px solid #dee2e6;
}
